@import url(utils.css);
@import url(transition.css);
@import url(ui.css);

html {
    /*overflow: hidden;*/
}

#app {
    width: 100%;
    /*height: 100vh;*/
    margin-right: calc(100% - 100vw);
}

header {
    width: 100%;
    height: 3rem;
    /*position: sticky;*/
    /*top: 0;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*@media (min-width: 500px) {*/
/*    main {*/
/*        max-width: 60%;*/
/*        margin: 0 auto;*/
/*    }*/
/*}*/
/*@media (max-width: 500px) {*/
/*    main {*/
/*        margin: 0 10%;*/
/*    }*/
/*}*/

footer {
    width: 100%;
}
